/* @styled-jsx=scoped */
.slide-fade-up-enter-active,
.slide-fade-left-enter-active {
    transition: all 300ms ease;
}
.slide-fade-up-leave-active,
.slide-fade-left-leave-active {
    transition: all 300ms ease;
    /* transition: all 300ms cubic-bezier(1, 0.5, 0.8, 1); */
}
.slide-fade-up-enter,
.slide-fade-up-leave-to {
    transform: translateY(-100%);
    opacity: 0;
}

.slide-fade-left-enter,
.slide-fade-left-leave-to {
    transform: translateX(-100%);
    opacity: 0;
}